<br>
<footer>
    <div class="footer-column">
        <p>
            Follow us:
            <li style="display:inline"><a href="https://www.facebook.com/SIAMVIT/" class="fa fa-facebook"></a></li>    
            <li style="display:inline"><a href="https://www.instagram.com/siamvit/?hl=en" class="fa fa-instagram"></a></li>    
            <li style="display:inline"><a href="https://www.linkedin.com/company/siam-vit" class="fa fa-linkedin"></a></li>    
            <li style="display:inline"><a href="https://www.youtube.com/channel/UCe-pVSXoWcTxNdqAl6DM9lA" class="fa fa-youtube"></a></li>
        </p>
    </div>
    <div class="footer-column">
        <p>
            Made By: Akhil and Harshit
        </p>
    </div>

    
    
</footer>
</body>
</html>