<%- include("partials/header") %>
<div style="position: relative;top:40px;">
    <div class="jumbotron" style="background-color:black;">
        <div class="container" style="text-align: center;">
            <img src="https://vit.ac.in/files/ICAMS2k17/images/siam1.png" class="light-logo" width="50%" >
            <h4 style="color:azure">A VIT STUDENT CHAPTER</h4>
            <a class="btn btn-lg btn-info" href="https://www.siamvit.in/">Visit Us at our Official Website</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div style="text-align:center">
        <div class="container" >
            <p style="color: azure;font-size: large;" >
                SIAM stands for Society for Industrial and Applied Mathematics. It is one of the most prestigious community where enthusiasts of mathematics and its applied applications can contribute, nurture and enhance their interests. Applied mathematics, in partnership with computational science is essential in solving many real world problems. Our mission is to build cooperation between mathematics and the world of science and technology through publications, research and community through membership activities, publications of journals, books and conferences. For further details, you can go to SIAM website.
            </p>
            <br>
        </div>
        <div class="container" >
            <br>
            <p style="color: azure;font-size: large;" >
                SIAM-VIT aims at dispensing the required tools and knowledge for students to excel in fields of applied mathematics such as computational science, forensics, cryptography etc. It provides a bridge for students to apply the classroom knowledge to real world applications and push the boundaries of their curriculum to explore their field of interest through projects, research, industrial visits and internships. It is the only chapter in VIT that takes all the branches under its wings and therefore has a huge outreach.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<%- include("partials/footer") %>
