<%- include("partials/header") %>
<div style="position: relative;top:50px;">
    <div class="container">
        <div class="col">
            <br>
            <p> <%=t.title%> Task Completed By:</p>
            <ul>
                <%t.compT.forEach(function(name){%>
                    <li><%=name.username%></li>
                <%})%>
            </ul>
        </div>
    </div>
</div>


<%- include("partials/footer") %>